# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Data (Ignore real data, keep sample)
data/raw/
data/processed/
data/merged/
data/external/
!data/sample_heart_data.csv

# Models (Saved artifacts)
models/
*.pkl
*.npy
*.pth

# Source Models (Code)
!src/models/


# Reports
!reports/

*.png
*.pdf

# IDE
.vscode/
.idea/
.DS_Store
